<?xml version="1.0"?>
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="ConnectionStringDev" connectionString="Data Source=179.107.47.90;Initial Catalog=dbMobLinkDepositoPublicoDesenvolvimento;Persist Security Info=True;User ID=ws_patio;Password=Studio55#"/>
    <add name="ConnectionStringProd" connectionString="Data Source=179.107.47.90;Initial Catalog=dbMobLinkDepositoPublicoProducao;Persist Security Info=True;User ID=ws_patio;Password=Studio55#"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="ConnectionStringDev" connectionString="Data Source=187.84.228.60;Initial Catalog=dbMobLinkDepositoPublicoDesenvolvimento;Persist Security Info=True;User ID=sa;Password=3VzBUX#cVb974ro%" />
    <add name="ConnectionStringProd" connectionString="Data Source=187.84.228.60;Initial Catalog=dbMobLinkDepositoPublicoProducao;Persist Security Info=True;User ID=sa;Password=3VzBUX#cVb974ro%" />
  </connectionStrings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.7.40" newVersion="1.3.7.40"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>