<?xml version="1.0"?>

<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="ConnectionStringDev" connectionString="Data Source=179.107.47.90;Initial Catalog=dbMobLinkDepositoPublicoDesenvolvimento;Persist Security Info=True;User ID=ws_patio;Password=Studio55#" />
    <add name="ConnectionStringProd" connectionString="Data Source=179.107.47.90;Initial Catalog=dbMobLinkDepositoPublicoProducao;Persist Security Info=True;User ID=ws_patio;Password=Studio55#" />
  </connectionStrings>

</configuration>
