<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="servicoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://179.107.47.91:81/AlterData/servico.asmx"
                binding="basicHttpBinding" bindingConfiguration="servicoSoap"
                contract="AlterDataWebService.servicoSoap" name="servicoSoap" />
        </client>
    </system.serviceModel>
</configuration>